<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog.title</title>
    <style>
        .blog {
            padding: 20px 0px;
        }
        .blog .info span {
            padding-right: 10px;
        }
        .blog .summary {
            padding-top: 20px;
        }
    </style>
</head>
<body>

<div class="header">
    <span><a href="blog_get_blogs">博客</a> - <a href="#">lllblog.title</a></span>
</div>

<div class="content">
    <div class="blog">
        <div class="title">
            <a href="#"><h2>blog.title</h2></a>
        </div>
        <div class="info">
            <span class="category" style="color: #ff9900;">name</span>
            <span class="author" style="color: #4a86e8">author</span>
            <span class="created" style="color: #6aa84f">date</span>
        </div>
        <div class="summary">
        </div>
    </div>
    <div class="comment">
        <div class="comments-display" style="padding-top: 20px;">
            <h3>评论</h3>
           
        </div>
        <div class="comment-post" style="padding-top: 20px;">
            <h3>提交评论</h3>
            
        </div>
    </div>
</div>

</body>
</html>