<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Bootstrap Web Templates, alex blog, blog, 博客" />
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
    {{range .moreStyles}}
      <!-- <link rel="stylesheet" type="text/css" href="/public/{{.}}"> -->
      <link href="/public/css/style.css" rel="stylesheet" type="text/css" media="all" />
      <link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
      <script src="/public/js/jquery.min.js"></script>
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
      <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/public/js/move-top.js"></script>
<script type="text/javascript" src="/public/js/easing.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".scroll").click(function(event){   
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
    });
  });
</script>
    {{end}}
  </head>
  <body>
  <div class="header">
  <div class="container">
    <div class="header-info">
      <div class="logo">
        <a href="#"><img src="/public/img/logo.png" alt=" " /></a>
      </div>
      <div class="logo-right">
        <span class="menu"><img src="/public/img/menu.png" alt=" "/></span>
        <ul class="nav1">
          <li><a href="/">Home</a></li>
          <li><a href="/blog/list">Articles</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
        <!-- script for menu -->
          <script> 
            $( "span.menu" ).click(function() {
            $( "ul.nav1" ).slideToggle( 300, function() {
             // Animation complete.
            });
            });
          </script>
        <!-- //script for menu -->
    </div>
  </div>
  </div>
    <div id="content">
      {{if .flash.error}}
        <p class="fError">
          <strong>{{.flash.error}}</strong>
        </p>
      {{end}}
      {{if .flash.success}}
        <p class="fSuccess">
          <strong>{{.flash.success}}</strong>
        </p>
      {{end}}
