<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="footer-grid">
                <h3>About Us</h3>
                <p>description!</p>
            </div>
            <div class="footer-grid">
                <h3>Site Page</h3>
                <ul>
                    <li class="cap1"><a href="index.html">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>Praesent pharetra</h3>
                <ul>
                    <li><a href="#">Vestibulum iaculis scelerisque</a></li>
                    <li><a href="#">Cras aliquam erat</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>Copyright &copy; Company name All rights reserved.More Templates</p>
    </div>
</div>
<!-- //footer -->